@use "tailwindcss";

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  height: 100vh;
}

.table {
  border-collapse: collapse;
}

tr:not(:last-child) {
  @apply border-b border-gray-300;

}

td, th {
  @apply border border-gray-300;
  padding: 8px;
}
